* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary-clr: #cccccc;
    --secondary-clr: #dedede;
}

body {
    font-family: roboto, arial;
    padding-top: 60px;
    padding-left: 80px;
    background-color: #fdfbfb;
    transition: all 250ms ease;
}

p {
    font-size: 12px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 16px;
    line-height: 1.6;
}
