.header {
    margin: 0;
    margin-bottom: 20px;
    height: 57px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    border-bottom: 1px solid  #dedede;
    /* box-shadow: inset 1px 0.15px; */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    z-index: 100;
}

.left-section {
    /* background-color: lightblue; */
    display: flex;
    align-items: center;
}

.hamburger-menu,
.youtube-logo {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
    cursor: pointer;
}

.middle-section {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 470px;
    margin-left: 60px;

}

.search-box {
    height: 40px;
    flex: 1;
    padding-left: 12px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 25px;
}

.search-button {
    border: 1px solid #cccccc;
    border-left: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #f7f7f7;
    cursor: pointer;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
}

.search-icon {
    object-fit: contain;
    width: 26px;
    padding: 7px 14px;
}

.voice-search-icon {
    width: 24px;
    object-fit: contain;
    padding: 8px 8px;
    background-color: #f8f8f8;
    border-radius: 20px;
}


.right-section {
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    /* width: 400px; */
    /* margin-right: 15px;*/
    /* margin-left: -10px;  */
    flex-shrink: 0;
}

.upload-icon,
.youtube-apps-icon,
.notification-icon {
    height: 24px;
    margin: 0px 12px;

}

.my-channel-icon {
    height: 32px;
    margin: 0px 20px 0px 15px;
    border-radius: 16px;
}

.sidebar{
    display: flex;
    flex-direction: column;
    width: 72px;
    position: fixed;
    top: 57px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    z-index: 200;

}
.sidebar-link{
    font-size: 10px;
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.sidebar-link img{
    height: 24px;
    margin-bottom: 5px;
}